{% extends "base.html" %}

{% block content %}
{% load static %}

<div class="container">
    <div class="row">
        <div class="col-md-6 d-flex align-items-center">
            <div>
                <h1 class="text-center">Acerca de Nosotros</h1>
                <p>Somos una empresa especializada en el alquiler y venta de maquinaria de construcción, comprometida con proporcionar equipos de primera calidad para tus proyectos.</p>
                <p>Destacamos por ofrecer un servicio personalizado y profesional, manteniendo un trato cercano y familiar con nuestros clientes. Nuestra prioridad es brindar soluciones eficientes a tus necesidades en el ámbito de la construcción.</p>
                <p>Además, hemos implementado un servicio online que facilita tu experiencia con nosotros. Ahora puedes explorar nuestro catálogo, realizar consultas y gestionar tus pedidos desde la comodidad de tu hogar u oficina.</p>
                <p>Confía en nosotros para obtener la maquinaria de construcción que requieres, respaldada por años de experiencia y un compromiso inquebrantable con la satisfacción de nuestros clientes. Juntos, construyamos el éxito de tus proyectos.</p>
                <p>Con más de 30 años de experiencia en la industria de la construcción, Jesus Valderrama fundó nuestra empresa con la visión de proporcionar soluciones integrales y equipos de calidad para proyectos de construcción de todo tipo. Su dedicación y pasión por la construcción han sido la fuerza impulsora detrás de nuestro éxito continuo.</p>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <img src="{% static 'img/jesus.png' %}" alt="Foto de Jesus Valderrama" class="img-fluid h-100">
            <p class="font-weight-bold text-uppercase text-center">Jesus Torres Valderrama - Fundador</p>

            
        </div>
    </div>
</div>



{% endblock content %}
