<footer class="page-footer text-center font-small mt-4 wow fadeIn black">

  <hr class="my-4">

  <div class="container">
    <div class="row">
  
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto m-0 text-center text-white">
        <h5>Sobre nosotros
        </h5>
        <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">

        <ul class="list-unstyled">

          <li><a href="/about-us/">Quienes somos y que hacemos</a></li>

        </ul>

      </div>


      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto m-0 text-center text-white">
        <h5>Información Relevante
        </h5>
        <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">

        <ul class="list-unstyled">

          <li><a href="/condiciones/">ir a condiciones de uso</a></li>
          <li><a href="/politica/">ir a política de devoluciones</a></li>
          <li><a class="nav-link" href="/opinions">Opiniones</a></li>

        </ul>

      </div>

      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto m-0 text-center text-white">
        <h5>Centro de reclamaciones y sugerencias</h5>
        <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">

        <ul class="list-unstyled">

          <li><a href="/opinions/">ir al centro de Reclamaciones y sugerencias</a></li>

        </ul>
      </div>

      <div class="m-0 text-center text-white">
        <h5>Contacto</h5>
        <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
        <ul class="list-unstyled">
          <li><a href="mailto:jesserentalsamjr@gmail.com" style="text-decoration:none;"><i
                class="fa fa-home mr-2"></i>JesseRentals correo</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!--Copyright-->
  <div class="footer-copyright py-3">

    © 2023 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/" target="_blank"> JesseRentals </a>
  </div>
  <!--/.Copyright-->

</footer>