{% extends "base.html" %}

{% block content %}
<main>
    <div class="container">

        <div class="table-responsive text-nowrap">
            <h2 class="text-white">Resumen del pedido</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" class="text-white">#</th>
                        <th scope="col" class="text-white">Producto</th>
                        <th scope="col" class="text-white">Precio</th>
                        <th scope="col" class="text-white">Cantidad</th>
                        <th scope="col" class="text-white">Total Precio Productos</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order_item in object.items.all %}
                    <tr>
                        <th scope="row" class="text-white">{{ forloop.counter }}</th>
                        <td class="text-white">{{ order_item.item.title }}</td>
                        <td class="text-white">{{ order_item.item.price }}</td>
                        <td class="text-white">
                            <a href="{% url 'core:remove-single-item-from-cart' order_item.item.slug %}"><i
                                    class="fas fa-minus mr-2"></i></a>
                            {{ order_item.quantity }}
                            <a href="{% url 'core:add-to-cart' order_item.item.slug %}"><i
                                    class="fas fa-plus ml-2"></i></a>
                        </td>
                        <td class="text-white">
                            {% if order_item.item.discount_price %}
                            ${{ order_item.get_total_discount_item_price }}
                            <span class="badge badge-primary">Saving ${{ order_item.get_amount_saved }}</span>
                            {% else %}
                            ${{ order_item.get_total_item_price }}
                            {% endif %}
                            <a style='color: red;' href="{% url 'core:remove-from-cart' order_item.item.slug %}">
                                <i class="fas fa-trash float-right"></i>
                            </a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan='5' class="text-white">Your cart is empty</td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <a class='btn btn-primary float-right text-white' href='/'>Continuar comprando</a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% if object.coupon %}
                    <tr>
                        <td colspan="4" class="text-white"><b>Coupon</b></td>
                        <td class="text-white"><b>-${{ object.coupon.amount }}</b></td>
                    </tr>
                    {% endif %}
                    {% if object.get_total %}
                    <tr>
                        <td colspan="4" class="text-white"><b>Total Pedido</b></td>
                        <td class="text-white"><b>${{ object.get_total }}</b></td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <a class='btn btn-warning float-right ml-2 text-white' href='/checkout/'>Proceder al pago</a>
                            <a class='btn btn-primary float-right text-white' href='/'>Continuar comprando</a>
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>

        </div>

    </div>
</main>

{% endblock content %}
