{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        

        .container {
            max-width: 800px;
            margin: 0 auto;
        }

        #title {
            text-align: center;
            color: #ff9900;  /* Amarillo CAT */
            font-size: 28px;
            font-weight: bold;
        }

        #content {
            text-align: center;
            line-height: 1.6;
        }
    </style>
</head>
<body>

<div class="container">
    <h1 id="title">Política de Devoluciones - JesseRentals</h1>
    <div id="content">
        <p>No se contempla la devolución de ningún pedido.</p>
    </div>
</div>

</body>
</html>








{% endblock content %}